In [85]:
#1

In [87]:
import mysql.connector
import pandas as pd

In [107]:
cnx = mysql.connector.connect(user='root',
                              password='12345678',
                              host='localhost',
                              database='WEEK4')

In [108]:
cursor = cnx.cursor()
cursor.execute("select * from STUDENT ")
rows = cursor.fetchall()
print("***** query output presented as a Python list *****")
print("\n")
for row in rows:
    print(row)

print("\n\n")
print("***** query output presented as a pands dataframe *****")
print("\n")
df = pd.read_sql_query("select * from STUDENT ", cnx)
print(df)

***** query output presented as a Python list *****


('S001', 'MICHAEL BEVAN', datetime.date(1960, 9, 15), Decimal('3.20'), 'CHATSWOOD')
('S002', 'BRIAN LARA', datetime.date(1965, 2, 10), Decimal('4.00'), 'MARSFIELD')
('S003', 'VIVAN RICHARDS', datetime.date(1958, 11, 12), Decimal('4.50'), 'BURWOOD')
('S004', 'JAVED MIANDAD', datetime.date(1966, 5, 5), Decimal('3.50'), 'RYDE')
('S005', 'VIRAT KOHLI', datetime.date(1988, 10, 15), Decimal('4.30'), 'AUBURN')
('S006', 'BABAR AZAM', datetime.date(1991, 4, 20), Decimal('4.20'), 'LAKEMBA')
('S007', 'KUMAR SANGAKARA', datetime.date(1980, 1, 26), Decimal('3.70'), 'REDFERN')



***** query output presented as a pands dataframe *****


  STUDENTID      STUDENTNAME  STUDENTDOB  STUDENTGPA STUDENTSUBURB
0      S001    MICHAEL BEVAN  1960-09-15         3.2     CHATSWOOD
1      S002       BRIAN LARA  1965-02-10         4.0     MARSFIELD
2      S003   VIVAN RICHARDS  1958-11-12         4.5       BURWOOD
3      S004    JAVED MIANDAD  1966-05-05         3.5          RYDE
4      S005      VIRAT KOHLI  1988-10-15         4.3        AUBURN
5      S006       BABAR AZAM  1991-04-20         4.2       LAKEMBA
6      S007  KUMAR SANGAKARA  1980-01-26         3.7       REDFERN

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/1281058803.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from STUDENT ", cnx)

In [110]:
#2

df = pd.read_sql_query("""SELECT STUDENTNAME, STUDENTGPA 
FROM STUDENT
ORDER BY STUDENTGPA ASC """,cnx)
print(df)

       STUDENTNAME  STUDENTGPA
0    MICHAEL BEVAN         3.2
1    JAVED MIANDAD         3.5
2  KUMAR SANGAKARA         3.7
3       BRIAN LARA         4.0
4       BABAR AZAM         4.2
5      VIRAT KOHLI         4.3
6   VIVAN RICHARDS         4.5

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/4203235131.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("""SELECT STUDENTNAME, STUDENTGPA

In [112]:
#3 
df = pd.read_sql_query(""" SELECT * FROM TEACHER
ORDER BY TEACHERSALARY,TEACHERDESIGNATION ASC """, cnx)
print(df)

  TEACHERID       TEACHERNAME   TEACHERDESIGNATION  TEACHERSALARY
0      T004  SHAKIB UL HASSAN             LECTURER         100000
1      T007        DALE STAYN      SENIOR LECTURER         120000
2      T006        BEN STOKES             LECTURER         130000
3      T005    LARNCE KLUSNER            ASSOCIATE         150000
4      T008     GLENN MCGRATH  ASSOCIATE PROFESSOR         160000
5      T001       WASIM AKRAM  ASSOCIATE PROFESSOR         200000
6      T003         KAPEL DEV            PROFESSOR         230000
7      T002        IMRAN KHAN            PROFESSOR         250000

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/2358826656.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(""" SELECT * FROM TEACHER

In [114]:
#4
df = pd.read_sql_query(""" SELECT S.STUDENTNAME, E. *
FROM STUDENT S, ENROLMENT E
WHERE S.STUDENTID=E.STUDENTID
AND STUDYYEAR IN (2010, 2020, 2022)""", cnx)
print(df)

     STUDENTNAME ENROLMENTID SEMESTER  STUDYYEAR STUDENTID UNITCODE
0  MICHAEL BEVAN        E001   SPRING       2020      S001   MDS600
1  MICHAEL BEVAN        E002   SPRING       2020      S001   MDS601
2     BRIAN LARA        E004     FALL       2010      S002   MDS604
3  JAVED MIANDAD        E006   WINTER       2020      S004   MDS606
4     BABAR AZAM        E008     FALL       2022      S006   MDS600

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/3599595950.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(""" SELECT S.STUDENTNAME, E. *

In [115]:
#5
df = pd.read_sql_query("""SELECT STUDENTNAME 
FROM STUDENT S, ENROLMENT E
WHERE S.STUDENTID=E.STUDENTID 
AND UNITCODE="MDS601"
UNION ALL
SELECT STUDENTNAME 
FROM STUDENT S, ENROLMENT E
WHERE S.STUDENTID=E.STUDENTID 
AND UNITCODE='MDS603' """,cnx)
print(df)

      STUDENTNAME
0   MICHAEL BEVAN
1   JAVED MIANDAD
2   MICHAEL BEVAN
3  VIVAN RICHARDS

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/894011983.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("""SELECT STUDENTNAME

In [117]:
#6 ESTA NO SUPIMOS SI ESTABA BIEN

df = pd.read_sql_query("""SELECT STUDENTNAME 
FROM STUDENT S, ENROLMENT E
WHERE S.STUDENTID=E.STUDENTID 
AND UNITCODE="MDS601"
UNION
SELECT STUDENTNAME 
FROM STUDENT S, ENROLMENT E
WHERE S.STUDENTID=E.STUDENTID 
AND UNITCODE='MDS603' """,cnx)
print(df)

      STUDENTNAME
0   MICHAEL BEVAN
1   JAVED MIANDAD
2  VIVAN RICHARDS

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/3815922107.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("""SELECT STUDENTNAME

In [118]:
#7
df = pd.read_sql_query(""" SELECT UNITCODE,  FROM ENROLMENT
WHERE SEMESTER='SPRING' AND STUDYYEAR='2020'
AND UNITCODE IN (SELECT UNITCODE FROM ENROLMENT
WHERE SEMESTER='FALL' AND STUDYYEAR='2022') """, cnx)
print(df)

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/3987160559.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(""" SELECT UNITCODE,  FROM ENROLMENT

DatabaseError: Execution failed on sql ' SELECT UNITCODE,  FROM ENROLMENT
WHERE SEMESTER='SPRING' AND STUDYYEAR='2020'
AND UNITCODE IN (SELECT UNITCODE FROM ENROLMENT
WHERE SEMESTER='FALL' AND STUDYYEAR='2022') ': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM ENROLMENT
WHERE SEMESTER='SPRING' AND STUDYYEAR='2020'
AND UNITCODE IN (SEL' at line 1

In [105]:
#8
df = pd.read_sql_query(""" SELECT UNITCODE, SEMESTER, STUDYYEAR FROM ENROLMENT
WHERE SEMESTER='SPRING' AND STUDYYEAR='2020'
AND UNITCODE NOT IN (SELECT UNITCODE FROM ENROLMENT
WHERE SEMESTER='FALL' AND STUDYYEAR='2022') """, cnx)
print(df)

  UNITCODE SEMESTER  STUDYYEAR
0   MDS601   SPRING       2020

/var/folders/fx/rw52dq793g54r_t0gw3nfrkh0000gn/T/ipykernel_75696/1006118350.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(""" SELECT UNITCODE, SEMESTER, STUDYYEAR FROM ENROLMENT